* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
    object-fit: cover;
}

:root {
    --background-primary: #111111;
    --background-inside-input: #272727;
    --text-color-input-label: #AEAEAE;
    --normal-button-bacground-color: #1760E3;
    --hover-button-bacground-color: #2C70E9;
    --text-color-primary: #F9F9F9;
    --link-color: #006EDB;
    --normal-eye-bacground-color: #959595;
    --hover-eye-bacground-color: #F9F9F9;
}

body {
    background-color: var(--background-primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 4rem;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.brand-logo-design {
    filter: invert(100%);
    width: 5.75rem;
}

.title {
    color: var(--text-color-primary);
    font-size: 2.25rem;
    font-weight: 900;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.login p {
    color: var(--text-color-input-label);
    font-weight: 600;
    font-size: 1rem;
}

.login a {
    color: var(--link-color);
    font-size: 1rem;
    font-weight: 600;
}

.login a:hover {
    text-decoration: underline;
    color: var(--link-color);
}

.inputs-part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}

.e1 {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--background-inside-input);
    width: 34rem;
    /* height: 3rem; */
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--text-color-primary);
}

::placeholder {
    color: var(--text-color-input-label);
    font-size: 1rem;
    font-weight: 400;
}

.eye-hide-icon {
    filter: invert(59%);
    position: absolute;
    right: 1rem;
    top: 1rem;
    object-fit: cover;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.password-and-icon {
    position: relative;
}

.button {
    background-color: var(--normal-button-bacground-color);
    width: 34rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
    border: none;
    color: var(--text-color-primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.button:hover {
    background-color: var(--hover-button-bacground-color);
}


.term-of-service {
    color: var(--text-color-input-label);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.term-of-service .Privacy-blue {
    color: var(--link-color);
    font-size: 1rem;
    font-weight: 600;
}

.sign-up-image img {
    width: 38rem;
    height: 43.75rem;
    padding: 1.5rem;
}


/* responsive part  */

@media screen and (max-width:768px) {
    .sign-up-image img {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 48px 32px 48px 32px;
        gap: 0;
    }

    .e1 {
        width: 330px;
    }

    .inputs-part {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 330px;
    }

    .term-of-service {
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        width: 17rem;
        line-height: 21.82px;
    }

    .title {
        font-size: 32px;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
    .e1 {
        width: 23rem;
        height: 3rem;
    }

    .button {
        width: 23rem;
        height: 3rem;
    }

    .term-of-service {
        text-align: center;
        line-height: 1.5rem;
    }

    .title {
        font-size: 1.8rem;
    }
}