@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-primary: #111111;
    --background-inside-input: #272727;
    --text-color-input-label: #AEAEAE;
    --normal-button-bacground-color: #1760E3;
    --hover-button-bacground-color: #2C70E9;
    --text-color-primary: #F9F9F9;
    --link-color: #006EDB;
    --normal-eye-bacground-color: #959595;
    --hover-eye-bacground-color: #F9F9F9;
    --erorr: #F54C40;
    --input-text-hover: #FFFFFF;
    --background-input-hover: #2F2F2F;
    --font-family-inputs: "Nunito Sans";
}

body,
html {
    background-color: var(--background-primary);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

input,
button {
    outline: none;
}

h1,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 0;
    gap: 1rem;
}

.brand-logo-design {
    filter: invert(100%);
    width: 5.75rem;
}

.title {
    color: var(--text-color-primary);
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.login {
    display: flex;
    gap: 0.5rem;
}

.login p {
    color: var(--text-color-input-label);
    font-weight: 600;
    font-size: 1rem;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    gap: 1rem;
}

.control {
    position: relative;
    width: 100%;

}

.group {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input-text {
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--background-inside-input);
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--text-color-primary);
    transition: background-color 300ms ease-in-out;

}

.input-text:hover {
    background-color: var(--background-input-hover);
}

.label {
    position: absolute;
    color: var(--text-color-input-label);
    font-size: 1rem;
    font-weight: 400;
    top: 50%;
    left: 1.5rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: color, top, font-size, 300ms ease-in-out;
}


.input-text:focus+#password-label-confirmation {
    color: var(--erorr);
}

.control input:is(:hover, :focus)+label {
    color: #F9F9F9;
}

.control input:is(:focus, :not([value=""]))+label {
    top: 0.75rem;
    font-size: 0.75rem;
}


.eye-hide-icon {
    filter: invert(59%);
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    object-fit: cover;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: filter 300ms;
}

:is(.eye-hide-icon:hover) {
    filter: invert(100%);
}

.error-message {
    display: flex;
    width: 100%;
    color: var(--erorr);
    font-weight: 700;
    font-size: 0.8rem;
}

#input3 {
    border: 2px solid var(--erorr);
    display: flex;
}

.button {
    background-color: var(--normal-button-bacground-color);
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
    border: none;
    color: var(--text-color-primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 300ms;
}

.button:hover {
    background-color: var(--hover-button-bacground-color);

}


.term-of-service {
    color: var(--text-color-input-label);
    font-weight: 600;
}

.sign-up-image img {
    width: 75%;
}

.link {
    color: var(--link-color);
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: border-color 300ms;

}

.link:hover {
    border-color: var(--link-color);
}

.sign-up-image {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}


/* responsive part  */
@media screen and (max-width:768px) {
    .sign-up-image {
        display: none;
    }
}

@media screen and (min-width:640px) {
    .container {
        padding: 2rem;
    }
}

@media screen and (min-width:768px) {

    .sign-up-image img {
        width: 70%;
    }

    .sign-up-image {

        display: flex;
    }

    .title {
        font-size: 2.5rem;
    }

}

@media screen and (min-width:1023px) {
    .sign-up-image img {
        width: 60%;
    }
}

@media screen and (min-width:1540px) {

    .sign-up-image img {
        width: 50%;
    }

}